.archive-btn {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container h1 {
    color: var(--dblue);
}

.archive-btn button {
    color: white;
    background-color: var(--dblue);
    border-radius: 8px;
    padding: 5px 26px;
}

.archive-btn button:hover {
    background-color: var(--lblue);
}