.hero {
    /* background-image: url(/public/smilling.webp); */
    background-color: #0f0fe1ed;
    height: 94vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0.8; */
}

.hero-text {
    margin-left: -30%;
}

.hero-text h1 {
    font-size: 3.4rem;
    color: rgba(224, 123, 29, 0.808);
    font-weight: 600;
}

.hero-text input,
button {
    font-size: 1.5rem;
    /* background-color: var(--dblue); */

    outline: none;
    border: none;
    color: var(--white);
}

.hero-text input {
    width: 80%;
    border-radius: 8px 0 0px 8px;
}

.hero-text button {
    border-radius: 0 8px 8px 0;
    color: rgb(255, 255, 255);

}

::placeholder {
    color: rgb(17, 184, 64);
    opacity: 0.6;
    padding: 20px;
}