.hero h1 {}

.hero-container {
    height: 100%;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/smilling.webp);


    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    padding: 20%;
    color: white;

}

.hero-text h1 {
    font-size: 3rem;
    color: var(--dblue);
}

.hero-text input,
button {
    font-size: 1.5rem;
    background-color: var(--lblue);
    border-radius: 8px;
    outline: none;
    border: none;
    color: var(--dblue);
}

::placeholder {
    color: rgb(32, 2, 2);
    opacity: 0.7;
    /* Firefox */
}