.hero {
    background-image: url(/public/smilling.webp);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0.8; */
}

.hero-text {
    margin-left: -30%;
}

.hero-text h1 {
    font-size: 3.4rem;
    color: var(--black);
    font-weight: 700;
}

.hero-text input,
button {
    font-size: 1.5rem;
    /* background-color: var(--dblue); */
    border-radius: 8px;
    outline: none;
    border: none;
    color: var(--white);
}

::placeholder {
    color: rgb(17, 184, 64);
    opacity: 0.7;
}