/* Show dropdown on hover */
.navbar {
  height: 10vh;
}

.nav-item.dropdown:hover>.dropdown-menu {
  display: inline-block;
}

.submenus:hover .subli {
  display: block;
  position: absolute;
  top: 0;
  margin: 0px 0 0 150px;
}

/* Keep proper positioning */
.nav-item.dropdown .dropdown-menu {
  margin-top: 0;
}

.bg-custom {
  background-color: var(--lblue);
}

.navbar-nav {
  margin-left: 20%;
  gap: 15px;
}